<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="">
        <div class="d-flex sidebar-profile">
          <!-- <div class="sidebar-profile-image">
            <img src="" alt="image">
            <span class="sidebar-status-indicator"></span>
          </div> -->
          <!-- <div class="sidebar-profile-name">
            <p class="sidebar-name ">
              Kenneth Osborne
            </p>
            <p class="sidebar-designation">
              Welcome
            </p>
          </div> -->
        </div>
        <!-- <div class="nav-search">
          <div class="input-group">
            <input type="text" class="form-control " placeholder="recherche..." aria-label="search" aria-describedby="search">
            <div class="input-group-append">
              <span class="input-group-text" id="search">
                <i class="typcn typcn-zoom"></i>
              </span>
            </div>
          </div>
        </div> -->
        <p class="sidebar-menu-title text-dark"> Menu principal</p>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" *ngIf="userConnect.typeuser === 'User'">
          <i class="typcn typcn-home-outline menu-icon text-dark"></i>
          <span class="menu-title text-dark">Accueil</span>
        </a>
        <a class="nav-link" href="workflow" *ngIf="userConnect.typeuser === 'Admin'">
          <i class="typcn typcn-home-outline menu-icon text-dark"></i>
          <span class="menu-title text-dark">Accueil</span>
        </a>
      </li>
      <li class="nav-item"  *ngIf="userConnect.typeuser === 'Admin'">
        <a class="nav-link " data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="typcn  typcn typcn-user menu-icon text-dark"></i>
          <span class="menu-title text-dark">Administrateur</span>
          <i class="typcn typcn-chevron-right menu-arrow  text-dark"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link text-dark" href="new/personnel">Ajouter personnel</a></li>
            <li class="nav-item"> <a class="nav-link text-dark" href="liste/personnel">Liste des personnels</a></li>
            <!-- <li class="nav-item"> <a class="nav-link text-dark" href="workflow">Statistique</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="list/ticket ">Liste des ticket</a></li> -->
          </ul>
          
          
        </div>
      
      <li class="nav-item" *ngIf="userConnect.typeuser === 'Admin'">
        <a class="nav-link" data-toggle="collapse" href="#ui-user" aria-expanded="false" aria-controls="ui-basic">
          <i class="typcn   typcn typcn-group-outline menu-icon text-dark"></i>
          <span class="menu-title text-dark">Utilisateur</span>
          <i class="typcn typcn-chevron-right menu-arrow  text-dark"></i>
        </a>
        <div class="collapse" id="ui-user">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link text-dark" href="new/utilisateur">Ajouter utilisateur</a></li>
            <li class="nav-item"> <a class="nav-link text-dark" href="liste/utilisateur">Liste des utilisateurs</a></li>
            <li class="nav-item"> <a class="nav-link text-dark" href="workflow">Statistique</a></li>
          
          </ul>
        </div>
      </li>
      
      <li class="nav-item" *ngIf="userConnect.typeuser === 'User'">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="typcn  typcn typcn-edit menu-icon text-dark"></i>
          <span class="menu-title text-dark">Gestion des Tickets</span>
          <i class="menu-arrow text-dark"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <!-- <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Incription</a></li> -->
            <li class="nav-item"><a class="nav-link text-dark" href="create/ticket">Crée un ticket</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="list/ticket ">Mes tickets</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item" *ngIf="userConnect.typeuser === 'Admin'">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="typcn  typcn typcn-edit menu-icon text-dark"></i>
          <span class="menu-title text-dark">Gestion Tickets</span>
          <i class="menu-arrow text-dark"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <!-- <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Incription</a></li> -->
            <li class="nav-item"><a class="nav-link text-dark" href="ticket/atraites">A traités</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="ticket/encours ">En cours</a></li>
            <li class="nav-item"><a class="nav-link text-dark" href="ticket/traites">Traités</a></li>
          </ul>
        </div>
      </li>
      <br><br><br><br><br><br>

        <!-- <li> 
          <p class="sidebar-menu-title text-dark">Déconnexion</p>
        </li> -->
         
        <li class="nav-item ">
          <a class="nav-link" data-toggle="collapse" (click)="Deconnexion()" aria-controls="form-elements">
            <i class="typcn  typcn  typcn-eject menu-icon text-dark" ></i>
            <span class="menu-title text-dark" style="cursor: default;">DECONNEXION</span>
          </a>
          

          
        <!-- <li class="nav-item"><a href="#" class="nav-link text-dark">Se déconnecter</a></li> -->
  

      <!-- <li class="nav-item">
        <a class="nav-link" href="pages/documentation/documentation.html">
          <i class="typcn typcn-document-text menu-icon"></i>
          <span class="menu-title">Documentation</span>
        </a>
      </li> -->
    </ul>
    <!-- <ul class="sidebar-legend">
      <li>
        <p class="sidebar-menu-title">Category</p>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">#Sales</a></li>
      <li class="nav-item"><a href="#" class="nav-link">#Marketing</a></li>
      <li class="nav-item"><a href="#" class="nav-link">#Growth</a></li>
    </ul> -->
  </nav>